/* General dash */
#dash.vertical-overview {
	margin-right: 0px;
	margin-left: 0px;
	padding: 0px 0;
}

#dash.vertical-overview .dash-item-container .app-well-app,
#dash.vertical-overview .show-apps {
	padding-right: 5px;
	padding-left: 5px;
	/*spacing between icons*/
	padding-top: 1px;
	padding-bottom: 1px;
}

#dash.vertical-overview .dash-separator {
	height: 1px;
	margin-right: 0;
	margin-left: 3px;
	margin-top: 4px;
	margin-bottom: 4px;
	background-color: transparentize(#eeeeec, 0.7);
}

#dash.vertical-overview .overview-icon {
	padding: 5px 0;
}

#dash.vertical-overview .app-well-app-running-dot {
	margin: 6px 0px;
}

#dash.vertical-overview .dash-item-container:last-child {
	margin-bottom: 14px;
}

#dash.vertical-overview .dash-background {
	margin-left: 0px;
	margin-right: 0px;
}

#dash.vertical-overview-left .dash-background {
	border-radius: 0 18px 18px 0;
	border-left: 0px;
}

#dash.vertical-overview-right .dash-background {
	border-radius: 18px 0 0 18px;
	border-right: 0px;
}

.ws-switcher-indicator {
	padding: 3px;
	margin: 5px;
}
.ws-switcher-indicator:active {
	  padding: 5px;
	  margin: 3px;
}

.ws-tmb-label {
	margin: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-right: 7px;
	border-radius: 12px;
	border: solid 1px rgba(86, 86, 86, 0.8);
	background-color: rgba(46, 46, 46, 0.9);
	color: rgb(255, 255, 255);
}

.ws-tmb, .ws-tmb-labeled {
	border-radius: 6px;
}

.ws-tmb-labeled {
	border: 0px;
}

.page-indicator-icon {
	margin-bottom: 15px;
}